.person {

    &-page__block {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 1200px;
        margin: 0 auto;
        
    }             
    &-page__wrapper {
        display: flex;
        
        &-information {
            margin-left: 35px;
        }
    }


    &-page__name {
        display: block;
    }


    &__image {
        width: 350px;
        height: 500px;
    }

    &__known-movies {
        list-style-type: none;
        margin: 0px;
        margin-left: 10px;
        padding: 0;

        li {
            font-size: 25px;
            
        }
    }

    &-page__known-movies-wrapper {
        display: flex;
    }
    
    
}
.known-for__item {
    color: black;
    &:hover {
        color: blue;
        
    }
}