.movies {
    height: 600px;
    &__list {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
    }

    .sort-persons {
        text-align: center;
        margin-top: 50px;
        label {
            font-size: 20px;
        }
        select {
            text-align: center;
            margin-left: 10px;
            height: 60px;
            font-weight: 700;
        }
    }
}

.hidden {
    visibility: hidden;
}
.shown {
    visibility: visible;
}


